<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AtkSharp" version="3.22.24.37" targetFramework="net461" requireReinstallation="true" />
  <package id="CairoSharp" version="3.22.24.37" targetFramework="net461" requireReinstallation="true" />
  <package id="GdkSharp" version="3.22.24.37" targetFramework="net461" requireReinstallation="true" />
  <package id="GioSharp" version="3.22.24.37" targetFramework="net461" requireReinstallation="true" />
  <package id="GLibSharp" version="3.22.24.37" targetFramework="net461" requireReinstallation="true" />
  <package id="GtkSharp" version="3.22.24.37" targetFramework="net461" requireReinstallation="true" />
  <package id="Mono.Posix-4.5" version="4.5.0" targetFramework="net461" requireReinstallation="true" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net40" />
  <package id="PangoSharp" version="3.22.24.37" targetFramework="net461" requireReinstallation="true" />
</packages>